<div class="my-messages">
  <div class="my-messages-title"><h1>My Messages</h1></div>
  <div class="message-block">
    <div class="message" *ngFor="let message of messages; let i = index">
      <div class="user-avatar">
        <img src="assets/images/test.png"/>
      </div>
      <div class="message-info">
        <div class="friend-name">Vladimir Murzac</div>
        <div class="message-date">2018-05-16</div>
        <div class="message-text">Tests message</div>
      </div>
    </div>
  </div>
</div>
